In [3]:
import pandas as pd
import pingouin as pg

In [7]:
data = {'Subject': ['S1', 'S1', 'S1', 'S2', 'S2', 'S2', 'S3', 'S3', 'S3', 'S4', 'S4', 'S4', 'S5', 'S5', 'S5'],
        'Rater': ['R1', 'R2', 'R3'] * 5,
        'Measurement': [1.2, 1.1, 1.2, 2.3, 2.4, 2.5, 3.1, 3.0, 3.2, 4.4, 4.5, 4.4, 5.2, 5.1, 5.3]}

In [8]:
# Convert the data into a pandas DataFrame
df = pd.DataFrame(data)
df

   Subject Rater  Measurement
0       S1    R1          1.2
1       S1    R2          1.1
2       S1    R3          1.2
3       S2    R1          2.3
4       S2    R2          2.4
5       S2    R3          2.5
6       S3    R1          3.1
7       S3    R2          3.0
8       S3    R3          3.2
9       S4    R1          4.4
10      S4    R2          4.5
11      S4    R3          4.4
12      S5    R1          5.2
13      S5    R2          5.1
14      S5    R3          5.3

In [9]:
# Calculate the ICC
icc = pg.intraclass_corr(data=df, targets='Subject', raters='Rater', ratings='Measurement').round(3)

# Print the ICC result
print(icc)

    Type              Description    ICC         F  df1  df2  pval  \
0   ICC1   Single raters absolute  0.997  1052.136    4   10   0.0
1   ICC2     Single random raters  0.997  1361.588    4    8   0.0
2   ICC3      Single fixed raters  0.998  1361.588    4    8   0.0
3  ICC1k  Average raters absolute  0.999  1052.136    4   10   0.0
4  ICC2k    Average random raters  0.999  1361.588    4    8   0.0
5  ICC3k     Average fixed raters  0.999  1361.588    4    8   0.0

         CI95%
0  [0.99, 1.0]
1  [0.99, 1.0]
2  [0.99, 1.0]
3   [1.0, 1.0]
4   [1.0, 1.0]
5   [1.0, 1.0]

In [11]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('Measurement ~ C(Subject) + C(Rater)', data=df).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

               sum_sq   df            F        PR(>F)
C(Subject)  30.862667  4.0  1361.588235  2.311251e-11
C(Rater)     0.028000  2.0     2.470588  1.460377e-01
Residual     0.045333  8.0          NaN           NaN