In [1]:
import pandas as pd

In [2]:
path = "data/data vali ht23.xlsx"
df = pd.read_excel(path)
df

,alias,ID,valens,set,rand id,sex,kontakt igen,födelseår
0,d7d10d207311457ba0e6b3abe8562ca8,vs01,pos,0,0,k,1,1997
1,b30bbdf8a1ee4528a8932474ac5b0ea2,vs02,neg,0,150,k,0,1987
2,adc3f973d4ab45cf99d680d2a7ca7962,vs03,pos,0,73,k,1,1993
3,8bff1569825c4ec6bb1cbc6f4ca48c23,vs04,neg,0,175,k,0,2005
4,c2b326826b9f4477a40798cfd9bc4c78,vs05,neg,0,174,k,0,1995
...,...,...,...,...,...,...,...,...
268,b943125aa6d84818a8b1d5c2695ebf37,vs182,pos,1,103,k,1,1971
269,39f3b8bf12824ca8a58b3c8735468b15,vs182,neg,0,129,k,1,1971
270,9afe1e2aea694e1eae26772b779c641f,vs183,neg,0,214,k,1,1966
271,de78c0a6af96435babc9ee2f878d1d89,vs184,neg,0,181,k,0,1996
272,347e8f612bd54e68b509a86cb1b7db70,vs185,neg,0,135,k,1,2001

In [3]:
df["alias"].unique().shape

(269,)

In [4]:
non_unique_col = df['alias'][df['alias'].duplicated(keep=False)]
non_unique_col

19     d3df9bb8ac8f4ece94fc689aaa5ad983
59     b28b359818c04640b7cb0c29186de775
79     2c4cdfd4decf4b7daed896787f5fe0d1
83     d3df9bb8ac8f4ece94fc689aaa5ad983
117    b28b359818c04640b7cb0c29186de775
190    fcd7ef46eba14ed9ae8c644bd44dc433
193    fcd7ef46eba14ed9ae8c644bd44dc433
257    2c4cdfd4decf4b7daed896787f5fe0d1
Name: alias, dtype: object

# Post Correction

No duplicates found, everything looks good

In [2]:
path = "data/data vali ht23.xlsx"
df = pd.read_excel(path)
df

,alias,ID,valens,set,rand id,sex,kontakt igen,födelseår
0,d7d10d207311457ba0e6b3abe8562ca8,vs01,pos,0,0,k,1,1997
1,b30bbdf8a1ee4528a8932474ac5b0ea2,vs02,neg,0,150,k,0,1987
2,adc3f973d4ab45cf99d680d2a7ca7962,vs03,pos,0,73,k,1,1993
3,8bff1569825c4ec6bb1cbc6f4ca48c23,vs04,neg,0,175,k,0,2005
4,c2b326826b9f4477a40798cfd9bc4c78,vs05,neg,0,174,k,0,1995
...,...,...,...,...,...,...,...,...
264,b943125aa6d84818a8b1d5c2695ebf37,vs182,pos,1,103,k,1,1971
265,39f3b8bf12824ca8a58b3c8735468b15,vs182,neg,0,129,k,1,1971
266,9afe1e2aea694e1eae26772b779c641f,vs183,neg,0,214,k,1,1966
267,de78c0a6af96435babc9ee2f878d1d89,vs184,neg,0,181,k,0,1996
268,347e8f612bd54e68b509a86cb1b7db70,vs185,neg,0,135,k,1,2001

In [3]:
df["alias"].unique().shape

(269,)

In [4]:
non_unique_col = df['alias'][df['alias'].duplicated(keep=False)]
non_unique_col

Series([], Name: alias, dtype: object)