In [1]:
import pandas as pd
import json

In [2]:
from nexa_preprocessing.utils.time_series_operations import slice_by

## Data filtration

Load full export from database and filter on completed aliases and metadata

In [3]:
df = pd.read_csv("data/full_export.csv")
df

,filename,alias,emotion_id,valence,set_number,video_id,emotion_id_reply,emotion_options,randomization_id,processed_status
0,A102_bor_p_3,0190feb305e543098d8b643e190bef34,26,neg,1,A102,1000,"['32', '34', '11', '43', '22', '31', '3', '35'...",172,0
1,A102_cont_p_2,0190feb305e543098d8b643e190bef34,32,neg,1,A102,1000,"['32', '34', '11', '43', '22', '31', '3', '35'...",172,0
2,A102_cont_v_2,0190feb305e543098d8b643e190bef34,32,neg,1,A102,1000,"['32', '34', '11', '43', '22', '31', '3', '35'...",172,0
3,A102_dou_p_3,0190feb305e543098d8b643e190bef34,3,neg,1,A102,1000,"['32', '34', '11', '43', '22', '31', '3', '35'...",172,0
4,A200_anx_v_2,0190feb305e543098d8b643e190bef34,34,neg,1,A200,1000,"['32', '34', '11', '43', '22', '31', '3', '35'...",172,0
...,...,...,...,...,...,...,...,...,...,...
164995,A91_amu_p_3,ebef64132b5848809b54b7aa1726b446,13,pos,1,A91,1000,"['16', '5', '9', '36', '42', '8', '2', '25', '...",56,0
164996,A91_det_p_2,ebef64132b5848809b54b7aa1726b446,2,pos,1,A91,1000,"['16', '5', '9', '36', '42', '8', '2', '25', '...",56,0
164997,A91_ele_p_2,ebef64132b5848809b54b7aa1726b446,8,pos,1,A91,1000,"['16', '5', '9', '36', '42', '8', '2', '25', '...",56,0
164998,A91_ple_p_3,ebef64132b5848809b54b7aa1726b446,23,pos,1,A91,1000,"['16', '5', '9', '36', '42', '8', '2', '25', '...",56,0
164999,A91_ple_v_2,ebef64132b5848809b54b7aa1726b446,23,pos,1,A91,1000,"['16', '5', '9', '36', '42', '8', '2', '25', '...",56,0

In [4]:
slices = slice_by(df, "alias")
len(slices)

1250

In [5]:
complete_aliases = []
incomplete_aliases = []

for s in slices:
    all_rows_equal_1000 = (s['emotion_id_reply'] == 1000).all()
    if not all_rows_equal_1000:
        has_emotion_id_1000 = (s['emotion_id_reply'] == 1000).any()
        if has_emotion_id_1000:
            incomplete_aliases.append(s)
        else:
            complete_aliases.append(s)

In [6]:
len(complete_aliases)

275

In [7]:
len(incomplete_aliases)

10

In [8]:
# Specify the path to your JSON file
meta_file_path = "data/meta.json"

# Open and read the JSON file
with open(meta_file_path, 'r') as json_file:
    # Load the JSON data into a Python dictionary
    data_dict = json.load(json_file)

In [9]:
filtered_aliases = []
for s in complete_aliases:
    if s["alias"].isin(data_dict).any():
        filtered_aliases.append(s)

In [10]:
len(filtered_aliases)

265

In [11]:
df = pd.concat(filtered_aliases, ignore_index=True)
df

,filename,alias,emotion_id,valence,set_number,video_id,emotion_id_reply,emotion_options,randomization_id,processed_status
0,A102_emb_p_2,0010541301574d33a41c542299f184a6,39,neg,0,A102,40,"['40', '43', '14', '10', '39', '22', '32', '6'...",161,1
1,A102_fea_p_2,0010541301574d33a41c542299f184a6,10,neg,0,A102,32,"['40', '43', '14', '10', '39', '22', '32', '6'...",161,1
2,A102_rej_p_3,0010541301574d33a41c542299f184a6,14,neg,0,A102,14,"['40', '43', '14', '10', '39', '22', '32', '6'...",161,1
3,A102_sad_p_3,0010541301574d33a41c542299f184a6,6,neg,0,A102,43,"['40', '43', '14', '10', '39', '22', '32', '6'...",161,1
4,A102_sha_v_2,0010541301574d33a41c542299f184a6,43,neg,0,A102,39,"['40', '43', '14', '10', '39', '22', '32', '6'...",161,1
...,...,...,...,...,...,...,...,...,...,...
34975,A72_rej_p_3,ff807190c01845fa827a02d5e23ed14c,14,neg,0,A72,1,"['34', '14', '39', '11', '12', '43', '37', '3'...",127,1
34976,A91_anx_p_3,ff807190c01845fa827a02d5e23ed14c,34,neg,0,A91,3,"['34', '14', '39', '11', '12', '43', '37', '3'...",127,1
34977,A91_conf_p_3,ff807190c01845fa827a02d5e23ed14c,1,neg,0,A91,3,"['34', '14', '39', '11', '12', '43', '37', '3'...",127,1
34978,A91_disa_v_3,ff807190c01845fa827a02d5e23ed14c,37,neg,0,A91,34,"['34', '14', '39', '11', '12', '43', '37', '3'...",127,1
34979,A91_scha_v_2,ff807190c01845fa827a02d5e23ed14c,15,neg,0,A91,39,"['34', '14', '39', '11', '12', '43', '37', '3'...",127,1